/*** Edit ***/
#edit li {
    margin-bottom:1em;
}

#edit .meta {
    padding:5px 0 0 6px;
	font-size:0.9em;
	color:#ccc;
}

#edit .label-block {
    color:#F6CECE;
}

#edit .cluster-header {
    font-size:1.4em;
	margin-bottom:1em;
	font-style:italic;
	color: #aaa;
}

.updated-item {
	width:100%;
	max-width:500px;
	margin:0 1em 1em 0;
	padding:20px;
	border-radius: 6px;
    background-color:#f9f9f9;
}

.updated-item .ui-id {
	height:30px;
	margin-bottom:20px;
	font-family: courier;
	font-size:0.9em;
	color:#aaa;
	border-bottom:1px dotted #CECEF6;
}

.updated-item .ui-oldtitle {
	color:red;
}

.updated-item .ui-title {
	color:#31B404;
}

.updated-item.blocked {
	background-color:#F8E0E0;
}

.updated-item .blocked {
	color:red;
}

.updated-item.blocked .ui-title {
	color:black;
}

/*** Lookup ***/
.key {
	font-weight: bold;
}

.lookup-form {
	display: inline;
}

/*** Stream ***/
.tw-status {
    width: 100%;
    max-width: 500px;
	padding:18px 18px 0;
	font-size:0.9em;
	border:1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 6px;
	margin-bottom:2em;
}

.tw-status a {
	color:blue;
}

.tw-status img {
	float:left;
	margin-right:0.5em;
}

.tw-status ul {
	list-style-type: none;
	padding:0;
}

.tw-status .time {
	font-size:0.9em;
	color:grey;
	float:right;
	padding-left:10px;
}

.tw-header {
	margin-bottom:0.8em;
}

.tw-name {
	font-weight: bold;
}

.tw-name a {
	color:black;
}

.tw-screenname {
	color:#ccc;
}

.tw-msg {
	clear:both;
	padding-top:10px;
}

/*** Trending ***/
ul.stories {
    list-style-type:none;
    padding:0;
}

ul.stories ul.cluster li {
    background-color:#f0f0f0;
}

ul.stories ul.cluster {
    list-style-type:none;
    padding:0
}

ul.stories li {
    background-color:#f9f9f9;
    padding:18px;
    margin-bottom:1em;
}

ul.stories .story-img img {
    float:left;
    max-width:150px;
    max-height:100px;
    margin-right:20px;
}

ul.stories h2 {
    margin-top:0;
    font-size:1.5em;
}

ul.stories .story-meta {
    padding-top:5px;
    margin-top:5px;
    border-top:1px dotted #eee;
}

ul.stories .btn-danger {
    padding:3px
}

ul.stories form {
    display:inline;
}

ul.stories .count {
    font-size:1.2em;
    font-weight:700;
    padding-bottom:18px
}
