{% extends "admin_base.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block main %}
	<h1>Look up entity</h1>
	{% if status %}
		<p class='status'>{{ status }}</p>
	{% endif %}
	{% if not result %}
	<form method='get' id='lookup'>
		<p>
			<label>Select entity to look up:</label><br/>
			<select name='kind' form='lookup'>
				<option value='Content'>Content</option>
				<option value='Stories' selected>Stories</option>
			</select>
		</p>

		<p>
			<label>Enter the key name of the entity:</label><br/>
			<input type='text' name='keyname'/>
		</p>

		<p>
			<label>Or, look up by title:</label><br/>
			<input type='text' name='title'/>
		</p>

		<p>
			<input type='submit'/>
		</p>
	<form>
	{% else %}
		{% for obj in result %}
			<table class='lookup-obj'>
				{% for o in obj %}
				<tr>
					<td class='key'>{{ o[0] }}</td>
					<td>{{ o[1] }}</td>
				</tr>
				{% endfor %}
			</table>
			<form method='post' action='/admin/edit'>
				<input type='hidden' name='blocked-{{ obj[0][1] }}' value='on'>
				<input type='submit' value='Block'/>
			</form>
		{% endfor %}
	{% endif %}
{% endblock %}