<!DOCTYPE html>

<html>
		<head>
			<title>{{title}}</title>

			<meta name="viewport" content ="width=device-width">

			<link rel="stylesheet" href="/static/css/edit.css" type="text/css" />
		</head>	

		<body>
			<div id='wrapper'>
				<h1>{{title}}</h1>

				<a href='/update'>Update</a>

				<form method='post' id='edit'>
					<ul>
						<li><input type='submit'/></li>
						{% for top_link in top_links %}
						<li>
							{% if 'cid_' in top_link[0] %}
								<li id="{{top_link[0]}}">
									<div class='count'>{{'%.1f' % (top_link[1]['score'])}}</div>
									<ul class="cluster">
									{% for top_link in top_link[1]['members'] %}
										<li id="{{top_link[0]}}" class="clusteritem">
											<div class='domain'>{{top_link[1]['domain']}} | 
											<a href="{{top_link[1]['url_full']}}" target='_blank'>Visit</a></div>
											<input type='text' name='title-{{top_link[0]}}' value="{{top_link[1]['title']}}"/><br/>
											<input type='checkbox' name='blocked-{{top_link[0]}}'/> Block
										</li>
									{% endfor %}	
									</ul>					
								</li>
							{% else %}
								<div class='count'>{{'%.1f' % (top_link[1]['score'],)}}</div>
								<div class='domain'>{{top_link[1]['domain']}} | 
								<a href="{{top_link[1]['url_full']}}" target='_blank'>Visit</a></div>
								<input type='text' name='title-{{top_link[0]}}' value="{{top_link[1]['title']}}"/><br/>
								<input type='checkbox' name='blocked-{{top_link[0]}}'/> Block
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					<input type='submit'/>
				</form>
			</div>
		</body>

</html>