<!DOCTYPE html>

<html>
		<head>
			<title>{{title}}</title>

			<meta name="viewport" content ="width=device-width">

			<link rel="stylesheet" href="/static/css/{{stylesheet}}.css" type="text/css" />
		</head>	

		<body>
			<div id='wrapper'>
				<h1><a href='/'>{{title}}</a></h1>

				<ul>
					{% for top_link in top_links %}
						{% if 'cid_' in top_link[0] %}
							<li id="{{top_link[0]}}">
								<div class='count'>{{'%.1f' % (top_link[1]['score'])}}</div>
								<ul class="cluster">
								{% for top_link in top_link[1]['members'] %}
									<li id="{{top_link[0]}}" class="clusteritem">
										<div class='title'>
											<a href="{{top_link[1]['url_full']}}">{{top_link[1]['title']}}</a>
											<span class='domain'>{{top_link[1]['domain']}} | <a href="https://twitter.com/search?q={{top_link[1]['title']}}">{{top_link[1]['votes']}} mentions</a></span>
										</div>
									</li>
								{% endfor %}	
								</ul>					
							</li>
						{% else %}
						<li id='{{top_link[0]}}'>
							<div class='count'>{{'%.1f' % (top_link[1]['score'])}}</div>
							<div class='title'>
								<a href="{{top_link[1]['url_full']}}">{{top_link[1]['title']}}</a>
								<span class='domain'>{{top_link[1]['domain']}} | <a href="https://twitter.com/search?q={{top_link[1]['title']}}">{{top_link[1]['votes']}} mentions</a></span>
							</div>						
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</body>

</html>