<!DOCTYPE html>

<html>
		<head>
			<title>Cron Update</title>

			<style type="text/css">
			body {
				font-family: arial, sans;
			}

			h1 {
				margin-bottom:0;
			}

			p {
				margin-top:-0.1em;
				margin-bottom:2em;
			}

			img {
				float:left;
				margin-right:0.5em;
			}

			.status {
				margin-bottom:2em;
			}

			.status ul {
				list-style-type: none;
				margin-left:1em;
			}

			.time {
				font-size:0.9em;
				color:grey;
				float:right;
				padding-left:10px;
			}

			.error {
				color:red;
			}
			</style>
		</head>	

		<body>
			<h1>Search Stream</h1>
			<div class='error'>{{error}}</div>
			<p><b>{{summary['total']}} status updates. Oldest is {{summary['oldest']}}. Velocity {{summary['velocity']}} tweets/min.</b><br/>
				Status ID in cache: {{cache_info[0]}}<br/>
				Time ago in cache: {{cache_info[1]}} ({{cache_info[2]}})
			</p>

			{% for status in statuses %}
				<div class="status">
					<div class='time'>{{status_times[status['id']]}}</div>
					<img src="{{status['user']['profile_image_url_https']}}"/>
					<b>{{status['user']['screen_name']}}: </b>
					{{status['text']}}
					<ul>
					{% for url in status['entities']['urls'] %}
						<li><a href="{{url['expanded_url']}}">{{url['expanded_url']}}</a></li>
					{% endfor %}
					{% if status['retweeted_status'] %}
						{% for url in status['retweeted_status']['entities']['urls'] %}
							<li><a href="{{url['expanded_url']}}">{{url['expanded_url']}}</a></li>
						{% endfor %}
					{% endif %}
					</ul>
				</div>
			{% endfor %}


		</body>

</html>